
.body{
    margin: 0;
    overflow: hidden;
    display: block;
}
/* encabezado de index y contacto */
.container1{
    margin: 0em;
    padding: 0em;
    background-color: rgb(187, 209, 110);
}
.initial1{
    margin: 1em;
    padding: 0.5em;
    height: 3em;
    display: flex;
    justify-content: space-between;
   font-weight: bold;
}
.initial2{
    margin: 1em;
    /* padding: 1em; */
    display: contents;
    justify-content: space-between;
}
/* aqui termina el encabezado */
/* logo */
.container2{
    display: flex;
    justify-content: center;
    font-family: Georgia;
    font-size: 3em;
 }
/* cuerpo de home */

.altura {
    height: 25em; 
}
.cook-title{
    margin: 1em;
    display: flex;
    justify-content: center;
    font-family:fantasy ;
    font-weight: bold;
    font-size: 2em;
}
.cook1{
  font-family: 'Franklin Gothic Medium';
  margin: 1em;
} 
.altura2{
    height: 15em;
}

.container4{
    display: flex;
    justify-content: center;    
} */
/* pie de pagina */
.contact-pie1{
    display: contents;
    justify-content: center;
    align-items: flex-end;
} 
/* CARTA HTML */

/* encabezado */
.container1{
    margin: 0em;
    padding: 0em;
    background-color: rgb(187, 209, 110);
}
.title-1{
    margin: 1em;
    /* padding: 1em; */
    display: flex;
    justify-content: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
}
.card-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
}
.altura1{
    height: 20em;
}

/* bloque uno y bloque dos*/

.block-one{
    margin: 1em;
    border: 2em solid black;
}
.block-two{
    margin: 1em;
    border: 2em solid black;
}
/* Contacto html*/
.experience{
    display: flex;
    justify-content: center;
     } 
.expert{
    font-style: italic;
    font-family: serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
 }

/*FORMULARIO*/
.container-cont{
    height: 15em;
    display: flex;
    justify-content: center;
    margin-bottom: 3em;
}
.formulario{
    width: 30em;
    margin: 1em;
    border: solid black ;  
}
h3{
    margin: 1em;
    font-style: italic;
}
.altur{
    height: 25em;
    margin: 1em;
    padding: auto;
}

.formulario1{
}
/* GOOGLE MAPS */

body{
    background-image: linear-gradient(#FFFFFF,rgb(164, 146, 142));
}

